
<div class="container">
  <p-carousel [value]="jobOffers" [numVisible]="1" [numScroll]="1" [circular]="false" >
    <ng-template let-job pTemplate="item">
      <div class="row">
        <div class="col-md-8 mb-3 mt-3">
          <p-card header="Monstre">
            <p>TODO</p>
          </p-card>
        </div>
        <div class="col-6 col-md-4 mt-3">
          <p-card header="Offre d'emploi">
            <h4>{{ job.id }}</h4>
            <h4>{{ job.title }}</h4>
          </p-card>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
